body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

#main {
  min-height: calc(100vh - 60px);
}

.button_newsletter {
  height: 38px;
  background: #016e97;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.button_contact {
  height: 38px;
  background: #0a1c26;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.ocean {
  padding: 15px;
  background: #016e97;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Header */
header {
  background: #016e97;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #f7ebdd 3px solid;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #brand {
  float: left;
}

header #brand h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight,
header .current a {
  color: #272e1e;
  font-weight: bold;
}

header a:hover {
  color: #a3a0a9;
  font-weight: bold;
}

/* Showcase */
#showcase {
  min-height: 400px;
  background: url("../img/showcase.jpg") no-repeat 0 -1050px;
  text-align: center;
  color: #272e1e;
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  color: #ffffff;
  font-size: 20px;
}

/* Newsletter */
#newsletter {
  padding: 15px;
  color: #ffffff;
  background: #0a1c26;
}

#newsletter h1 {
  float: left;
}

#newsletter form {
  float: right;
  margin-top: 15px;
}

#newsletter input[type="Email"] {
  padding: 4px;
  height: 25px;
  width: 250px;
}

/* Boxes */
#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img {
  width: 130px;
}

/* Sidebar */
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside#sidebar .contact input,
aside#sidebar .contact textarea {
  width: 90%;
  padding: 5px;
}

/* Main-col */
article#main-col {
  float: left;
  width: 65%;
}

/* Holidays */
ul#holidays li {
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}

footer {
  padding: 1px;
  color: #ffffff;
  background-color: #0a1c26;
  text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
  header #brand,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }

  header {
    padding-bottom: 20px;
  }

  #showcase h1 {
    margin-top: 40px;
    color: #ffffff;
  }

  #newsletter button,
  .contact button {
    display: block;
    width: 100%;
  }

  #newsletter form input[type="Email"],
  .contact input,
  .contact textarea {
    width: 100%;
    margin-bottom: 5px;
  }
}
